/**
 * Popup Design
 */

// Full page container styling for the popup container
.popup_container {
  @include fullPageContainer;
}

// Styling for the main popup
.popup {
  position: relative;
  margin-top: 10%; // Adjusting top margin for positioning
  width: 35%;
  background: $second-color;
  border-radius: 16px; // Rounded corners
  border-radius: 8px; // Rounded corners
  padding: 4px; // Padding for inner content
  transform: scale(0);
  animation: blowUp 400ms ease-in forwards;

  & > h1 {
    text-align: center;
    border-bottom: 1px solid $fourth-color-shade; // Border for header
    padding: 4px; // Padding for header
    color: $fourth-color;
  }

  & > button {
    background-color: transparent; // Button background color
    border: none;
    padding: 4px;
    border-radius: 4px; // Rounded corners
    color: $fourth-color;
    cursor: pointer;
  }
}

/** 
 * Toast Design
 */

// Styling for the toast container
.toast__container {
  position: fixed;
  border-radius: 4px; // Rounded corners
  z-index: 12;
  top: 10%;
  right: 2%;
  width: 25%;
  height: 4rem;
  padding: 4px 8px;
  animation: extendToast 400ms ease-in-out;

  display: grid;
  grid-template-columns: 90% 10%; // Grid layout for content and button
  grid-template-rows: 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 0px;

  & > * {
    opacity: 0;
    animation: fadeIn 500ms ease-in-out 300ms forwards;
  }

  & > span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
  }

  & > button {
    padding: 4px;
    background-color: transparent;
    border: none;
    border-left: 1px solid $fifth-color;
    color: $second-color;
    margin: 10px 0;
    cursor: pointer;
    font-size: 1.1rem;
  }
}

// Styling for danger-themed toast container
.toast__container-danger {
  background-color: $danger-color;

  & > span {
    color: $second-color;
  }
}

// Styling for success-themed toast container
.toast__container-success {
  background-color: $success-color;

  & > span {
    color: $second-color;
  }
}
