.popup_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $fourth-color-shade;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 15;
}

.popup {
  position: relative;
  margin-top: 12%;
  width: 40%;
  background: $fifth-color;
  border-radius: 16px;
  box-shadow: 0 4px 30px $first-color;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 8px;
  padding: 4px;
  border: 3px solid $first-color;

  & > h1 {
    text-align: center;
    border-bottom: 1px solid $fourth-color-shade;
    padding: 4px;
  }
}
