/** Colors */
$first-color: #6f51e9;
$second-color: #ececee;
$third-color: #d2a380;
$fourth-color: #262627;
$fourth-color-shade: rgba(38, 38, 39, 0.5);
$fifth-color: rgba(255, 255, 255, 0.5);
$danger-color: #dc3545;
