@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@mixin navigationAnimation($color_p) {
  padding: 8px 8px;
  &::before,
  &::after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: $color_p;
    content: "";
    opacity: 0;
    transition: all 0.3s;
  }

  &::before {
    top: 0;
    transform: translateY(10px);
  }

  &::after {
    bottom: 0;
    transform: translateY(-10px);
  }

  &:hover::before,
  &:hover::after {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes navLink-animation {
  0% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}

@keyframes navLink-animation-rev {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shift {
  0% {
    width: 100%;
  }
  25% {
    width: 33%;
  }
  50% {
    width: 33%;
  }
  100% {
    width: 100%;
  }
}

@keyframes popToast {
  // opacity: 0;
  // translateY
}

@keyframes extendToast {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 25%;
  }
}

@keyframes blowUp {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes roadRunnerLeftToRight {
  0% {
    transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
  }
  70% {
    transform: translateX(30px) skewX(0deg) scaleX(0.9);
  }
  100% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
}

@keyframes roadRunnerRightToLeft {
  //
  0% {
    transform: translateX(1500px) skewX(30deg) scaleX(1.3);
  }
  70% {
    transform: translateX(30px) skewX(0deg) scaleX(0.9);
  }
  100% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
}
