@import "./variables";
@import "./global_mixins.scss";
@import "./components.scss";
@import "./animations.scss";

/** Global Styles */
:root,
html,
body {
  padding: 0;
  margin: 0;
  width: 100dvw;
  height: 100vh;
  scroll-behavior: smooth;
  background-color: $second-color;

  & > * {
    box-sizing: border-box;
  }
}

main {
  width: 100%;
  height: 100%;
}

/**
 * All Pages
 */

.page_sections {
  @include pageSection(90%);
}

.page_sections-full {
  @include pageSection(100%);
}
/**
 * Home Page
 */

//Section 1
.homeBanner {
  height: 100%;
  padding: 5% 0% 5% 5%;
  background-color: $fourth-color;
  background-image: url("../public/wave_bg_rev.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.homeBanner__text {
  width: 60%;

  & > p {
    color: $second-color;
    font-size: 2rem;
  }
}

.homeBanner__image {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;

  & > img {
    object-fit: contain;
    width: 80%;
    height: auto;
    filter: grayscale(24%) sepia(44%) saturate(79%) contrast(81%)
      drop-shadow(1px 4px 4px $first-color);
    -webkit-filter: grayscale(24%) sepia(44%) saturate(79%) contrast(81%)
      drop-shadow(1px 1px 4px $first-color);
    -moz-filter: grayscale(24%) sepia(44%) saturate(79%) contrast(81%)
      drop-shadow(1px 4px 4px $first-color);
  }
}

//Section 2
.why__us {
  flex-direction: row-reverse;
}

.why__us__right {
  width: 100%;
  //height: 100%;
  padding-left: 5%;
  //background-color: #34302e;

  & > ul {
    list-style-type: none;
    list-style-image: url("../public//listPointBlack.svg");

    & > li {
      font-size: 1.5rem;
    }
  }
}

.why__us__left {
  width: 50%;
  height: 100%;
  margin: 1%;
  display: flex;
  justify-content: center;

  & > img {
    object-fit: contain;
    width: 80%;
    height: auto;
  }
}

/**
 * Car Catalog Page
 */

.car__catalog {
  display: flex;
  //background-color: aqua;
  height: fit-content;
  min-height: 100%;
  flex-direction: column;
}
.page__sections__leftSide {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
}

.page__sections__rightSide {
  //background-color: aqua;
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1%;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.card__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog__leftSide {
  position: relative;
}

/** 
 * 
 * Login Page
 * 
 */
.page__section__dark {
  background-color: $fourth-color;
  height: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../public/wave_bg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

/**
 * Dashboard Page
 */

.adminDashboardSection {
  margin-top: 5%;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .adminOptions {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    a {
      width: 100%;
      height: 100%;
      margin: 10%;
      padding: 2%;
      text-decoration: none;
    }

    .adminOptions-option {
      background-color: $fourth-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 10rem;

      box-sizing: border-box;
      border-radius: 10px;
      cursor: pointer;
      transition: all 500ms;
      font-size: 1.5rem;
      position: relative;
      box-shadow: 0px 1px 1px rgba(38, 38, 39, 0.08),
        0px 5px 4px rgba(38, 38, 39, 0.08), 0px 12px 9px rgba(38, 38, 39, 0.08),
        0px 20px 15px rgba(38, 38, 39, 0.08),
        0px 32px 24px rgba(38, 38, 39, 0.08);

      &::after {
        content: "";
        width: 30%;
        height: 100%;
        background: rgb(111, 81, 233);
        background: linear-gradient(
          90deg,
          rgba(111, 81, 233, 1) 0%,
          rgba(38, 38, 39, 1) 62%
        );
        position: absolute;
        left: 0;
        border-radius: 10px;
        opacity: 0;
        transition: all 500ms;
      }

      &:hover {
        //background-color: $s-color;
        box-shadow: 0px 1px 3px rgba(111, 81, 233, 0.26),
          0px 5px 11px rgba(111, 81, 233, 0.26),
          0px 12px 25px rgba(111, 81, 233, 0.26),
          0px 20px 45px rgba(111, 81, 233, 0.26),
          0px 32px 70px rgba(111, 81, 233, 0.26);

        &::after {
          opacity: 1;
        }

        &::before {
          opacity: 1;
        }
      }
    }
  }
}

/**
 * Dashboard Car Page
 */

.carCollection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 5%;
  box-sizing: border-box;

  & > h1 {
    width: 100%;
    text-align: center;
  }

  .options {
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    height: 5rem;

    .options-left {
      width: 70%;
      background-color: $fifth-color;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      box-sizing: border-box;
      padding: 10px;
      border-radius: 20px;
      .filters_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-width: 300px;
        .filters_option {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          margin-top: 5px;
          box-sizing: border-box;
          //background-color: magenta;

          & > span {
            //width: 100%;
            text-align: start;
            color: $fourth-color;
            font-size: 1.2rem;
            text-decoration: none;
            display: block;
            box-sizing: border-box;
            //background-color: aqua;
          }

          .filters_option-set {
            display: flex;
            flex-direction: row;
            width: 50%;
          }
        }
      }
      & > button {
        width: 10%;
        height: 10%;
        height: 3rem;
        font-size: 1.1rem;
        color: $second-color;
        background-color: $third-color;
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }
    }

    .options-right {
      width: 10%;
      background-color: $fifth-color;
      padding: 10px;
      border-radius: 20px;
      & > button {
        height: 3rem;
        font-size: 1.1rem;
        color: $second-color;
        width: 100%;
        background-color: $first-color;
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }

  .carsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
}

/**
 * Car Details Page
 */

.car__image {
  background-color: $second-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  box-sizing: border-box;

  & > img {
    border: 1px solid $fourth-color;
    border-radius: 25px;
    width: 80%;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(3px 4px 3px #262627);
    -webkit-filter: drop-shadow(3px 4px 3px #262627);
    -moz-filter: drop-shadow(3px 4px 3px #262627);
  }
}

.car__details {
  max-height: 80%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5%;
  box-sizing: border-box;
  .page_section-header {
    background-color: $second-color;
  }

  .page__section-details {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    & > h2 {
      font-size: 2rem;

      & > span {
        background-color: $fourth-color;
        padding: 10px;
        border-radius: 20px;
        color: $second-color;
      }
    }

    & > div {
      margin-top: 10px;
      background-color: $fifth-color;
      border-radius: 10px;
      padding: 0 5%;
    }
  }

  .options {
    & > button {
      width: 50%;
      height: 3rem;
      background-color: $first-color;
      border: transparent;
      border-radius: 10px;
      color: $second-color;
      cursor: pointer;
      transition: all 300ms;

      &:focus,
      &:hover {
        outline: none;
        transform: scaleX(1.1);
      }
    }
  }
}
