@mixin navLinks($bg_color_p, $shadow_color_p, $hover_color) {
  color: $fourth-color;
  background-color: $bg_color_p;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  transition: all 500ms;

  @if ($shadow_color_p == 2) {
    /* https://smoothshadows.com/#djEsMSw1LDAuMDksMjQsMzIsMCwjNmY1MWU5LCNmM2Y0ZjYsI2ZmZmZmZiwy */
    box-shadow: 0px 1px 1px rgba(111, 81, 233, 0.02),
      0px 5px 4px rgba(111, 81, 233, 0.04),
      0px 12px 9px rgba(111, 81, 233, 0.05),
      0px 20px 15px rgba(111, 81, 233, 0.07),
      0px 32px 24px rgba(111, 81, 233, 0.09);
  } @else {
    /* https://smoothshadows.com/#djEsMSw0LDAuMiw3MiwwLDAsI2QyYTM4MCwjZjNmNGY2LCNmZmZmZmYsMg%3D%3D */
    box-shadow: 0px 0px 5px rgba(210, 163, 128, 0.05),
      0px 0px 18px rgba(210, 163, 128, 0.1),
      0px 0px 41px rgba(210, 163, 128, 0.15),
      0px 0px 72px rgba(210, 163, 128, 0.2);
  }

  &:hover {
    border-radius: 47% 53% 49% 51% / 45% 57% 43% 55%;
    //background-color: $bg-color;
  }

  &:visited {
    color: $fourth-color;
  }
}

@mixin separator($fill_color_p) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
  }

  .shape-fill {
    fill: $fill_color_p;
  }
}

@mixin pageSection($height_p) {
  width: 100%;
  height: $height_p;
  //background-color: $second-color;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin sectionHeader($start_color_p, $finish_color_p) {
  font-size: 4.5rem;
  background: $fourth-color;
  background: linear-gradient(to right, $start_color_p 0%, $finish_color_p 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

@mixin subHeader($color_p) {
  font-size: 2rem;
  color: $color_p;
  text-align: center;
}

@mixin formContainer($height_p) {
  margin-top: 5%;
  width: 30%;
  min-width: fit-content;
  height: $height_p;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@mixin formItems {
  display: block;
  min-height: 3rem;
  width: 80%;
  background-color: $fifth-color;
  border-radius: 3px;
  padding: 0 10px;
  margin: 8px;
  font-size: 14px;
  font-weight: 300;
  border: transparent;
  font-size: 1rem;
  text-align: center;

  &:focus {
    outline: none;
    border: 1px solid $second-color;
  }
}
