@mixin navLinks($bg_color_p, $shadow_color_p, $hover_color) {
  display: inline-block;
  padding: 20px;
  font-size: 1.2rem;

  text-decoration: none;
  cursor: pointer;

  background-image: linear-gradient(45deg, $bg_color_p 50%, $hover_color 50%);
  background-size: 250%;
  background-repeat: repeat;
  background-position: top right;
  color: $fourth-color;

  border-radius: 4px;
  box-shadow: 7px 4px 20px 1px rgba(0, 0, 0, 0.15);

  animation: navLink-animation 300ms 0.15s ease-out forwards;
  transition: all 300ms;

  &:visited {
    color: $fourth-color;
  }

  &:hover {
    animation: navLink-animation-rev 300ms ease-out forwards;
    box-shadow: 3px 2px 10px 1px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
  }
}

@mixin separator($fill_color_p) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
  }

  .shape-fill {
    fill: $fill_color_p;
  }
}

@mixin pageSection($height_p) {
  width: 100%;
  height: $height_p;
  //background-color: $second-color;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin sectionHeader($start_color_p, $finish_color_p) {
  font-size: 4.5rem;
  background: $fourth-color;
  background: linear-gradient(to right, $start_color_p 0%, $finish_color_p 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

@mixin subHeader($color_p) {
  font-size: 2rem;
  color: $color_p;
  text-align: center;
}

@mixin formContainer($height_p) {
  margin-top: 5%;
  width: 30%;
  min-width: fit-content;
  height: $height_p;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@mixin formItems {
  display: block;
  min-height: 3rem;
  width: 60%;
  background-color: transparent;
  padding: 0 10px;
  margin: 8px;
  font-size: 14px;
  border: transparent;
  border-bottom: 1px solid $second-color;
  font-size: 1rem;
  text-align: center;
  color: $second-color;

  &::placeholder {
    font-family: inherit;
    color: $second-color;
  }

  &:focus {
    outline: none;
  }
}

@mixin fullPageContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $fourth-color-shade;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 15;
}

@mixin actionButton($bg_color_p, $hvr_color_p, $width_p) {
  width: $width_p;
  color: $second-color;
  background-color: $bg_color_p;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid $hvr_color_p;
  cursor: pointer;

  outline: 1px solid;
  outline-color: $bg_color_p;
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    border: 1px solid $bg_color_p;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5) 0 0 20px
      rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px $first-color;
    background-color: $hvr_color_p;
  }
}

@mixin customCheckboxDesign($container_width_p) {
  width: 30%;
  height: 100%;
  height: 2rem;
  position: relative;
  left: 0;
  display: flex;
  align-items: center;

  input,
  .outer {
    width: 100%;
    height: 100%;
    z-index: 9;
    border-radius: 80px;
    opacity: 0;
    position: absolute;
    left: 0;
    cursor: pointer;
  }

  .outer {
    background: $first-color;
    opacity: 1;
    z-index: 0;
    transform-origin: initial;
  }

  .inner {
    background-color: $second-color;
    position: absolute;
    width: 25%;
    height: 70%;
    box-shadow: inset 0px 0px 5px 0 rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transition: transform 0.4s ease-in-out 0.4s,
      box-shadow 0.6s ease-in-out 0.4s;
    margin: 0 4px;
  }

  & > input:checked ~ .outer {
    animation: shift 0.8s ease-in-out 1 forwards;
  }

  & > input:checked ~ .outer ~ .inner {
    transform: translateX(250%);
    box-shadow: none;
  }
}

@mixin customCheckboxContainer($text_color) {
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 4rem;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;

  .custom-checkbox {
    @include customCheckboxDesign(80%);
  }

  span {
    font-size: 1rem;
    color: $second-color;
    margin-left: 10px;
    box-sizing: border-box;
  }
}

@mixin multipleCheckbox {
  background-color: aqua;
}

/**
 * Dashboard mixins
 */
@mixin summary_display {
  background-color: $fifth-color;
  border-radius: 4px;
  box-shadow: 0 0 6px $fourth-color;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 4% 2%;
  transition: transform 500ms;

  & > .display_text {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    & > span {
      &:first-child {
        font-size: 1.5rem;
      }

      &:last-child {
        color: grey;
      }
    }
  }
  & > .display_visual {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;

    span {
      padding: 12px;
      border-radius: 4px;
      color: $fourth-color;
    }

    .positive_growth {
      background-color: rgba(63, 195, 128, 1);
    }

    .negative_growth {
      background-color: red;
    }
  }

  &:hover {
    transform: scale(1.02);
  }
}
