@import "./variables";
@import "./global_mixins.scss";
@import "./components.scss";

/** Global Styles */
:root,
html,
body {
  padding: 0;
  margin: 0;
  width: 100dvw;
  height: 100vh;
  scroll-behavior: smooth;
  background-color: $second-color;

  & > * {
    box-sizing: border-box;
  }
}

main {
  width: 100%;
  height: 100%;
}

/**
 * All Pages
 */

.page_sections {
  @include pageSection;
}

/**
 * Home Page
 */

//Section 1
.homeBanner {
  height: 100%;
  padding: 5% 0% 5% 5%;
  background-color: $fourth-color;
  background-image: url("../public/wave_bg_rev.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.homeBanner__text {
  width: 60%;

  & > p {
    color: $second-color;
    font-size: 2rem;
  }
}

.homeBanner__image {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;

  & > img {
    object-fit: contain;
    width: 80%;
    height: auto;
    filter: grayscale(24%) sepia(44%) saturate(79%) contrast(81%)
      drop-shadow(1px 4px 4px $first-color);
    -webkit-filter: grayscale(24%) sepia(44%) saturate(79%) contrast(81%)
      drop-shadow(1px 1px 4px $first-color);
    -moz-filter: grayscale(24%) sepia(44%) saturate(79%) contrast(81%)
      drop-shadow(1px 4px 4px $first-color);
  }
}

//Section 2
.why__us {
  flex-direction: row-reverse;
}

.why__us__right {
  width: 100%;
  //height: 100%;
  padding-left: 5%;
  //background-color: #34302e;

  & > ul {
    list-style-type: none;
    list-style-image: url("../public//listPointBlack.svg");

    & > li {
      font-size: 1.5rem;
    }
  }
}

.why__us__left {
  width: 50%;
  height: 100%;
  margin: 1%;
  display: flex;
  justify-content: center;

  & > img {
    object-fit: contain;
    width: 80%;
    height: auto;
  }
}

/**
 * Car Catalog Page
 */

.car__catalog {
  display: flex;
  //background-color: aqua;
  height: fit-content;
  min-height: 100%;
  flex-direction: column;
}
.page__sections__leftSide {
  width: 100%;
  height: 100%;
  //margin-top: 5%;
}

.page__sections__rightSide {
  //background-color: aqua;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1%;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.card__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog__leftSide {
  position: relative;
}

/** 
 * 
 * Login Page
 * 
 */
.page__section__dark {
  background-color: $fourth-color;
  height: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../public/wave_bg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}
